@using Microsoft.AspNetCore.Identity

<div class="border p-3 text-center">
    <div class="form-group">
        <h2 class="text-primary pl-3 font-weight-bold">This month's bill already exists for this User.</h2>
    </div>
    <a asp-action="Index" class="btn btn-primary w-20 m-2">
        Back
    </a>
</div>