@model TBashaBari.Models.BillInformation

<form method="post" class="text-center">
    <div class="border p-3">
        <div class="form-group">
            <h2 class="text-primary font-weight-bold">Edit Bill</h2>
        </div>

        <input asp-for="BillId" class="form-control text-center py-4" hidden />
        <input asp-for="OwnerEmail" class="form-control text-center py-4" hidden />
        
        <label class="font-weight-bold pt-4">Tenant's Email:</label>
        <input asp-for="TenantEmail" class="form-control text-center py-4" readonly />

        <label class="font-weight-bold pt-4">Year & Month:</label>
        <input id="today" asp-for="BillTime" class="form-control text-center py-4" readonly />

        <label class="font-weight-bold pt-4">Water Bill Amount:</label>
        <input asp-for="WaterAmount" class="form-control text-center py-4"/>
        <input asp-for="WaterPaid" class="form-control text-center py-4" hidden />
        <input asp-for="WaterVerified" class="form-control text-center py-4" hidden />
        <span asp-validation-for="WaterAmount" class="text-danger"></span>
        <br>

        <label class="font-weight-bold pt-4">Electric Bill Amount:</label>
        <input asp-for="ElectricAmount" class="form-control text-center py-4"/>
        <input asp-for="ElectricPaid" class="form-control text-center py-4" hidden />
        <input asp-for="ElectricVerified" class="form-control text-center py-4" hidden />
        <span asp-validation-for="ElectricAmount" class="text-danger"></span>
        <br>

        <label class="font-weight-bold pt-4">Gas Bill Amount:</label>
        <input asp-for="GasAmount" class="form-control text-center py-4"/>
        <input asp-for="GasPaid" class="form-control text-center py-4" hidden />
        <input asp-for="GasVerified" class="form-control text-center py-4" hidden />
        <span asp-validation-for="GasAmount" class="text-danger"></span>
        <br>

        <label class="font-weight-bold pt-4">Rent Amount:</label>
        <input asp-for="RentAmount" class="form-control text-center py-4" />
        <input asp-for="RentPaid" class="form-control text-center py-4" hidden />
        <input asp-for="RentVerified" class="form-control text-center py-4" hidden />
        <span asp-validation-for="RentAmount" class="text-danger"></span>

        <br>
        <input type="submit" class="btn btn-success w-20 m-2" value="Update" />
        <a asp-action="Index" class="btn btn-primary w-20 m-2">
            Back
        </a>

    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


