@model TBashaBari.Models.TenantRequest
@using System.Data.SqlClient;
@using Microsoft.AspNetCore.Identity
@using TBashaBari.Controllers;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    bool isConnected(string _Email)
    {
        //database operation to get current tenants's fullname
        DatabaseConnection ob = new DatabaseConnection();
        bool booltemp = ob.isTenantConnected(_Email);
        return booltemp;
    }
}

<form method="post" asp-action="Create" class="text-center">
    @if (isConnected(UserManager.GetUserName(User)))
    {
        <div class="border p-3">
            <div class="form-group">
                <h2 class="text-primary font-weight-bold">Add a Request</h2>
            </div>
            <input id="today" asp-for="RequestTime" class="form-control" hidden />
            <input asp-for="TenantEmail" class="form-control" value="@UserManager.GetUserName(User)" hidden />
            <input asp-for="RequestText" class="form-control text-center py-4" />
            <br>
            <input type="submit" class="btn btn-success w-20 m-2" value="Post" />
            <a asp-action="Index" class="btn btn-primary w-20 m-2">
                Back
            </a>
        </div>
    }
    else
    {
        <div class="border p-3">
            <div class="form-group">
                <h2 class="text-primary font-weight-bold">You are not connected to any Owner</h2>
            </div>

            <a asp-action="Index" class="btn btn-primary w-20 m-2">
                Back
            </a>
        </div>
    }

</form>

<script>
    var today = new Date().toISOString().substr(0, 10);
    var currentTime = new Date();
    var currentHours = currentTime.getHours();
    var currentMinutes = currentTime.getMinutes();

    // Pad the currentMinutes with leading zeros, if required
    currentMinutes = (currentMinutes < 10 ? "0" : "") + currentMinutes;

    // Pad currentHours with leading zeros, if required
    currentHours = (currentHours < 10 ? "0" : "") + currentHours;

    // Compose the string for display
    var currentTimeString = currentHours + ":" + currentMinutes;

    // Final Time
    document.querySelector("#today").value = today + " at " + currentTimeString;
</script>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

