@model TBashaBari.Models.OwnerNotice

<form method="post" class="text-center">
    <div class="border p-3">
        <div class="form-group">
            <h2 class="text-primary font-weight-bold">Edit Notice</h2>
        </div>
        <input asp-for="NoticeId" hidden />
        <input id="today" asp-for="NoticeTime" class="form-control" hidden />
        <input asp-for="OwnerEmail" class="form-control" hidden />
        <input asp-for="NoticeText" class="form-control text-center py-4" />
        <br>
        <input type="submit" class="btn btn-success w-20 m-2" value="Update" />
        <a asp-action="Index" class="btn btn-primary w-20 m-2">
            Back
        </a>

    </div>
</form>

<script>
    var today = new Date().toISOString().substr(0, 10);
    var currentTime = new Date();
    var currentHours = currentTime.getHours();
    var currentMinutes = currentTime.getMinutes();

    // Pad the currentMinutes with leading zeros, if required
    currentMinutes = (currentMinutes < 10 ? "0" : "") + currentMinutes;

    // Pad currentHours with leading zeros, if required
    currentHours = (currentHours < 10 ? "0" : "") + currentHours;

    // Compose the string for display
    var currentTimeString = currentHours + ":" + currentMinutes;

    // Final Time
    document.querySelector("#today").value = today + " at " + currentTimeString + "  [Edited]";
</script>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


