@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<head>

    <!------------------Style Part------------->
    <style type="text/css">
        .about-us-header {
            font-weight: bold;
        }

        .about-us-section {
            background-color: white;
        }

        .about-us-image {
            height: 200px;
            width: 200px;
            border-radius: 100%;
            margin: 20px;
        }

        .about-us-box {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="about-us-header text-center">About Us</h1>


        <section class="about-us-section">
            <div class="container">
                <div class="row">
                    <!---------------------first------------------->
                    <div class="col-md-4 col-12">
                        <div class="about-us-box">
                            <img src="~/images/adnansaky.jpg" class="about-us-image">
                            <h4 class="mb-4">Adnan Saky</h4>
                            <p>Software Developer</p>
                            <p>adnansaky94@gmail.com</p>
                        </div>
                    </div>
                    <!---------------------second------------------->
                    <div class="col-md-4 col-12">
                        <div class="about-us-box">
                            <img src="~/images/sajid.jpg" class="about-us-image">
                            <h4 class="mb-4">Minul Islam</h4>
                            <p>Information Security Analyst</p>
                            <p>mainulshazid123@gmail.com</p>
                        </div>
                    </div>
                    <!---------------------third------------------->
                    <div class="col-md-4 col-12">
                        <div class="about-us-box">
                            <img src="~/images/julfikar.png" class="about-us-image">
                            <h4 class="mb-4">Julfikar H Dinar</h4>
                            <p>UI/UX Designer</p>
                            <p>julfikar.123456@gmail.com</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</body>

